@charset "utf-8";

body, html {
    margin: 0;
    padding: 0;
    height: 100%;
    overflow: hidden;
}

nav{
    display:grid;
    grid-template-columns: 1fr auto;
    align-items: center;
    background: black;
    font-family: sans-serif;
    position:sticky;
    top:0;
    width:100%;
}

.espacio {
    border-bottom: #000 5px;
    border-top: #000 5px;
    border-style: double;
}

#cat1, #cat2, #cat3 {    
    background-color: #f2f2f2;
    box-shadow: none;
    border-radius: 0px;
    width: calc(100%); 
}

#cat1 {
    margin-top: 0px;
}

nav .logo{
    font-size: 24px;
    font-weight:black;
}

.logo img {
    max-width: 300px;
}
nav .barnav{
    display:grid;
    grid-template-columns: repeat(4,auto);
    margin-right: 30px;
}
nav .barnav div{
    padding: 10px 20px;
    color: white;
}
nav .barnav div:hover{
    cursor: pointer;
    background:#D4AF37;
}

.contenido{
    height: 1100px;
    margin-top: 78px;
}

.contenedor {
    display: flex;
    height: 100%;
}

.izquierda {
    flex: 1;
    background-color: #f2f2f2;
    padding: 20px;
    height: 100%;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    max-width: calc(100% - 360px); 
    margin-right: 20px; 
}

.izquierda div:first-child {
    margin-top: 70px; 
}

.izquierda div {
    background-color: white;
    padding: 20px;
    margin-bottom: 30px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

.izquierda div:not(:last-child) {
    margin-bottom: 20px;
}

.izquierda .seccion {
    margin-bottom: 30px;
    
}

.izquierda .seccion h2 {
    font-size: 24px;
    margin-bottom: 10px;
}

.izquierda .seccion div {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
}

#sesion {
    background: #000;
    color: white;
    position: fixed;
    top: 28px;
    right: 70px;
}

#menu-toggle {
    color: white;
    position: fixed;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    background: transparent;
    border: none;
    z-index: 2;
}

.derecha.collapsed {
    width: 0;
    overflow: hidden;
    transition: width 0.3s ease;
    padding: 20px 0;
}

.expanded {
    flex: 1;
    max-width: 100%;
    margin-right: 0;
}

.derecha {
    background-color: #333;
    color: #fff;
    width: 300px;
    height: 100%;
    position: fixed;
    right: 0;
    top: 0;
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: flex-start;
}

.categorias {
    margin-bottom: 20px;
}

.categorias h2 {
    margin-bottom: 10px;
}

.categorias ul {
    list-style: none;
    padding: 0;
}

.categorias li {
    margin-bottom: 10px;
}

.categorias a {
    color: #fff;
    text-decoration: none;
    transition: color 0.3s;
}

.categorias a:hover {
    color: #D4AF37;
}

.ultimo-post {
    width: 100%;
}

.ultimo-post h2 {
    margin-bottom: 10px;
}

.contenido-post {   
    color: black;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    width: 100% - 0;
    height: 350px; 
    overflow-y: auto;
}

.post {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    width: 100% - 0;
    margin-bottom: 20px;
}

#contenido-post {
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
}

#usuario {
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
}

.usuario img {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin-right: 10px;
}

.linea-divisoria {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#contenedor-formulario {
    width: 300px;
    background-color: #f2f2f2;
    max-height: calc(100vh - 300px);
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    overflow-y: auto;
}

div.contenedor > h2{
    text-align: center;
    margin-bottom: 20px;
}

#login h2 {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 70px;
}

#login input,
#register input {
    margin-bottom: 20px; 
    width: calc(100% - 40px); 
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#login button,
#register button,
#textoLink a {
    background-color: #D4AF37;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login button,
#register button,
#textoLink a {
    background-color: #D4AF37;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

#login button:hover,
#register button:hover,
#textoLink a:hover {
    background-color: #FFD700;
}

#contenedor-formulario {
    background-color: #f2f2f2;
}

#textoLink a {
    text-decoration: none;
}

#textoLink a:hover {
    text-decoration: underline;
}

#textoLink #link {
    color: black; 
    text-decoration: underline; 
    background-color: #f2f2f2;
    padding: 0px;
}

#textoLink #link:hover {
    color: blue;
}


.menu_usuario {
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    width: 100%;
    margin-bottom: 20px;
}

#perfil_usuario {
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
    font-size: 120%; 
}

#linea-divisoria {
    border: 1px solid #ccc;
    margin-bottom: 10px;
}

#post_usuario {
    margin: 0px;
    box-shadow: none;
    border-radius: 0px;
}

.formulario-crear-post {
    width: 300px;
    background-color: #f2f2f2;
    max-height: calc(100vh - 230px);
    border-radius: 10px;
    box-shadow: 0px 5px 8px rgba(0, 0, 0, 0.1);
    padding: 20px;
    margin: 50px auto;
    overflow-y: auto;
}

.input-field {
    margin-bottom: 20px;
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.textarea-field {
    margin-bottom: 20px;
    width: calc(100% - 40px);
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
    min-height: 150px;
}

.submit-button {
    background-color: #D4AF37;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s;
}

.submit-button:hover {
    background-color: #FFD700;
}